* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 2px solid #2FA8FF;
    border-radius: 5px;
    color: white;
    background-color: #1a1a1a;
    width: 100%;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #2FA8FF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #1c7a9c;
}
